log

.grunt

bower_components

# node-waf configuration 
.lock-wscript

build/Release

# Dependency directories
node_modules/
jspm_packages

# Typescript v1 declaration files
typings/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

# environment variables file
.env

dist/
