.web-header {
	box-sizing: border-box;
	background: $main-background-color;
	//background: fade-out($main-background-color, 0.15); ////////////
	color: $secondary-text-color;
	top: 0px;
	width: 100%;
	transition: background 0.2s;
	.top-container {
		font-size: $font-size-base;
	}
	.header-main-container {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0 auto; // Important !!
		.logo-image img {
			max-width: 95%;
			height: 45.5px;
		}
		@media screen and (min-width: #{$tablet-width}) {
			flex-direction: row;
			margin: 20px 0;
			padding-left: 100px;
		}
		.logo-image {
			flex: 2; //align-self: flex-start;
			margin: 0 auto;
		}
		.widgets {
			flex: 2; //align-self: flex-end;
		}
		#search-box {
			padding: 15px;
			input[type=text] {
				width: 70%;
				margin: 5px auto;
				height: 40px;
				background-color: $main-background-color; //border-radius: 15%;
				transition: width 0.4s ease-in-out;
			}
		} //End of #search-box
		.categories-of-articles {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			margin: auto;
			//align-items: baseline;
			width: 70%;
			height: 35px;
			//@include if-tablet-or-desktop {
			@media (min-width: 990px) {
				display: none;
			}
			border: 1px solid $main-border-color;
			color: $main-text-color;
			background-color: $secondary-background-color;
			.categories-label {
				padding-top: 10px;
			}
			// Botón del menú móvil
			#openmenu {
				display: inline-block; //block;
				text-align: center;
				//margin-right: 60%; //40px;
				//margin-left: 25%; //55%; //40px;
				//padding-bottom: 20px;
				width: 35px;
				height: 35px;
				background-color: $main-button-color;
				//		@include if-tablet-or-desktop {
				@media (min-width: 990px) {
					display: none;
				}
				.icon {
					padding: 10px;
				}
			}
		} // End of .categories-of-articles
	} // End of .header-main-container

	.user {
		a {
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid $main-border-color;
			color: $search-text-color;
			cursor: pointer;
			font-family: $main-font-family;
			font-size: $font-size-base;
			line-height: 35px;
			.fa {
				padding-right: 7px;
			}
		}
		top: 0px;
		padding-left: 10%;
		background-color: $main-background-color;
		width: 100%;
		height: 35px;
	}
	// menu only for mobile
	.menu-container {
		display: none;
		padding: 20px;
		li {
			padding: 1em; /*   IMP. --> para separar los elementos del menú */
			&:hover {
				transform: scaleY(1.4);
				background-color: $main-text-color;
				text-align: center;
			}
			a {
				color: $main-menu-color;
				display: inline; // inline-block is similar, unless you narrow the screen
				font-size: $font-size-large;
				//text-decoration: none;    // Ya está en "html-tags.scss"
				text-align: center;
			}
		}
	}
}

@media (max-width: 990px) {
	.menu-for-tablet-container {
		display: none;
	}
}

@media (min-width: 990px) {
	//@include if-tablet-or-desktop {
	.menu-for-tablet-container {
		display: inline;
		padding: 20px;
		ul {
			margin-left: 6%;
			//text-align: center;
			a {
				padding: 10px;
				color: $main-menu-color;
				display: inline; // inline-block is similar, unless you narrow the screen
				font-size: $font-size-large;
				text-align: center;
			}
			li {
				display: inline;
				padding-right: 4%; //10px;
			}
			padding-left: 200px; //width: 100%;
			transition: all 0.5s linear;
			overflow: hidden;
			a:hover {
				font-weight: bold;
				background-color: $hover-background-color;
			}
		}
	}
	.non-mobile-categories-label {
		display: block;
		width: 80%;
		margin: 0 auto;
		padding: 10px 0px 10px 0px;
		border: 1px solid $main-border-color;
		color: $main-text-color;
		background-color: $secondary-background-color;
		margin-bottom: 10px;
	}
	.categories-label {
		display: block;
		//margin: 0 auto;
		text-align: center;
		font-weight: bold;
		font-size: 17px;
	}
} // End of @media

.non-mobile-categories-label .categories-label {
	@media all and (max-width: 990px) {
		display: none;
	}
}
