    .web-header {
        box-sizing: border-box;
        background: white; //fade-out($color-grastur, 0.15);
        //padding: 15px;
        padding-left: 200px;
        color: $color-silver;
        /*position: fixed; */
        top: 0px;
        width: 100%;
        transition: background 0.2s;
        /* &:hover {
        background: $color-grastur;
    } */
        .web-title {
            color: black;
            font-size: $font-size-h3;
            padding: 20px 0;
        }
        .top-container {
            //padding-left: 200px;
            font-size: $font-size-base;
        } //.logo-container, footer {   // Por q no así?
        .logo-container {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: #{$tablet-width}) {
                flex-direction: row;
            }
            margin: 20px 0; //padding-left: 200px;
            img {
                max-width: 300px;
                height: 45.5px;
            }
            .logo {
                flex: 2; //align-self: flex-start;
            }
            .widgets {
                flex: 2; //align-self: flex-end;
            }
            #search-box {
                input[type=text] {
                    width: 200px;
                    height: 20px;
                    transition: width 0.4s ease-in-out;
                }
                input[type=text]:focus {
                    width: 300px;
                }
            }
        }
        .user {
            top: 0px;
            background-color: #F3F2ED; // TODO: centrar texto en el contenedor
            width: 100%;
            height: 35px;
            display: flex;
        }
        .menu-container {
            display: none;
            @media screen and (min-width: #{$tablet-width}) {
                display: block;
            }
            /*position: fixed; */
            /*margin-left: 200px;*/
            //padding-left: 200px;
            //width: 100%;
            background-color: #F7F7F7;
            overflow: hidden;
            a {
                display: inline; // inline-block is similar, unless you narrow the screen
                font-size: $font-size-large;
                padding: 20px;
                /*   IMP. --> para separar los elementos del menú */
                text-decoration: none;
                text-align: center;
                transition: all 0.5s linear;
            }
            a:hover {
                font-weight: bold;
                background-color: #DDD;
            }
        }
    }