<section class="articles-details">

    <div class="web-title">
        <p>Resumen detallado y críticas</p>
    </div>

    <article class="details-container">

        <div class="details-title-author">
            <p class="title">Tormenta de espadas. (Canción de hielo y fuego 3)</p>
            <p class="author">Martin, George R. R.</p>
        </div>

        <div class="details-photo-container">
            <img src="./img/libro1.jpg" alt="Foto del artículo">
        </div>

        <div class="details-summary-container">
            <p><em><strong>Resumen</strong></em></p>
            <hr>  <!-- class="details-divider-line"> -->
            <p summary-text>Las <em><a href="https://es.wikipedia.org/wiki/Hueste">huestes</a></em> de <strong>los fugaces reyes de Poniente</strong>, descompuestas en <em><a href="https://es.wikipedia.org/wiki/Horda">hordas</a></em>, asolan y <strong>esquilman una tierra castigada
                por la guerra</strong> e indefensa ante un invierno que se anuncia inusitadamente crudo. Las alianzas nacen y se desvanecen
                como volutas de humo bajo el viento helado del Norte. <br>
                Ajena a las intrigas palaciegas, e ignorante del auténtico peligro en ciernes, <strong>la Guardia de la Noche</strong> se ve desbordada por los salvajes. Y al otro lado del mundo, <em>Daenerys
                Targaryen</em> intenta reclutar en <strong>las Ciudades Libres</strong> un ejército con el que desembarcar en su tierra. <br><br>
                <strong><a href="https://es.wikipedia.org/wiki/George_R._R._Martin">Martin</a></strong> hace que lo imposible parezca sencillo. <em><a href="https://es.wikipedia.org/wiki/Tormenta_de_espadas">Tormenta de espadas</a></em> confirma <em><a href="https://es.wikipedia.org/wiki/Canci%C3%B3n_de_hielo_y_fuego">Canción de hielo y fuego</a></em> como <strong>un hito
                de la fantasía épica</strong>. Brutal y poética, conmovedora y cruel, la magia de Martin, como la del mundo de Poniente,
                necesita apenas una pincelada para <strong>cautivar al lector</strong>, hacerlo reír y llorar, y conseguir que el asombro
                ceda paso a la más profunda admiración por la serie.</p>
        </div>
    
    </article>

    <hr>

    <article class="comments-container" id="comments">
     
     <p class="comments-title">57 críticas de los lectores</p> 
                <!-- <hr> -->
            
         <div class="comments-list loading">  <!-- Not sure !! -->
     
            <div class="ui-status empty">
                No hay ningún comentario
            </div>
            <div class="ui-status error">
                Se ha producido un error
            </div>
            <div class="ui-status loading">
                Cargando...
            </div>
            <div class="ui-status ideal">
            </div>

         </div>
            
         <div class="comments-form">
            <div class="comment-form-title">Deja tu comentario</div>
            <form>
                <input type="text" name="name" placeholder="Nombre">
                <input type="text" name="lastName" placeholder="Apellidos">
                <input type="text" name="email" placeholder="Correo">
                <textarea rows="7" cols="30" placeholder="Escribe tu crítica"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    
    </article>

</section>

<hr>
