<footer>
    <div class="web-footer">
        <!-- <hr> -->
        <div class="footer-logo-container">
            <a class="footer-logo" href="../index.html"><img src="./img/logo.jpg" alt="Logo de la página"></a>
        </div>
      
        <div class="social-links">
            <p>Síguenos</p>
            <div class="links-container">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>

        <div class="scroll-top">
            <div class="scroll"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
            </div>
        </div>
        

    </div>

</footer>
    <div class="bottom-margin">
    
    </div>