<header class="web-header">
    <div class="top">
        <div class="top-container">
            <div class="user">
                <a href="#" class="login">Iniciar sesión</a>
                <a href="#" class="register">Crear cuenta</a>
            </div>
        </div>
    </div>

    <div class="logo-container">
        <div class="logo">
            <a href="../index.html"><img src="./img/logo.jpg" alt="Logo de la página"></a>
        </div>
        <div class="widgets">
            <div id="search-box">
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" name="search" placeholder="Búsqueda...">
            </div>
        </div>
    </div>

    <div class="menu-container ">
        <nav>
            <a href="# ">Inicio</a>
            <a href="# ">Novela</a>
            <a href="# ">Ensayo</a>
            <a href="# ">Histórica</a>
            <a href="# ">Teatro</a>
            <a href="# ">Varios</a>
        </nav>
    </div>
    <div class="web-title">
        <h1>Los mejores libros en español</h1>
    </div>

</header>