<header class="web-header">
    <div class="top">
        <div class="top-container">
            <div class="user">
                <a href="#" class="login"><i class="fa fa-user"></i>Iniciar sesión</a>
                <a href="#" class="register">Crear cuenta</a>
            </div>
        </div>
    </div>

    <div class="logo-container">
        <div class="logo-image">
            <a href="../index.html"><img src="./img/logo.jpg" alt="Logo de la página"></a>
        </div>
        <div class="widgets">
            <div id="search-box">
                <span>
                <input type="text" name="search" placeholder="Búsqueda...">
                <!-- <i class="fa fa-search"></i> -->
                </span>
            </div>
            
            <div class="categories-of-articles">
                <span class="categories-label">CATEGORÍAS</span>
                <button id="openmenu"><i class="fa fa-plus"></i></button>
                <!-- <button id="openmenu"><i class="fa fa-plus"></i></button> -->
            </div>

        </div>
        

    </div>

    <div class="menu-container">
        <nav>
            <ul>
                <li><a href="# ">Inicio</a></li>
                <li><a href="# ">Novela</a></li>
                <li><a href="# ">Ensayo</a></li>
                <li><a href="# ">Histórica</a></li>
                <li><a href="# ">Teatro</a></li>
                <li><a href="# ">Varios</a></li>
            </ul>
        </nav>
    </div>
        <div class="menu-for-tablet-container">
        <nav>
            <ul>
                <li><a href="# ">Inicio</a></li>
                <li><a href="# ">Novela</a></li>
                <li><a href="# ">Ensayo</a></li>
                <li><a href="# ">Histórica</a></li>
                <li><a href="# ">Teatro</a></li>
                <li><a href="# ">Varios</a></li>
            </ul>
        </nav>
    </div>

    <div class="web-title">
        <p>Los mejores libros</p>
    </div>
    <hr>

</header>